{% extends 'base.html.twig' %}

{% block title %}Stages par entreprise{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Voici la liste des stages triés par formation : </h1>
</div>
{% endblock %}
